/* 所有元素不計內距 */
* {
  box-sizing: border-box;
}

/* 整體寬度設定 */
body {
  min-width: 768px;
  background: white;
}

/* 計算區域樣式 */
.header {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background: #424242;
}
.calculator .icon {
  width: 117px;
  height: 117px;
  background-image: url("../img/BMICLogo.png");
}
.calculator .input-area {
  width: 260px;
  margin-left: 97px;
  margin-right: 53px;
}
.calculator .output-area {
  position: relative;
}

/** 輸入框框樣式 **/
.input-area .item .item-title {
  font-size: 18px;
  color: #ffd366;
}
.input-area .item .item-field {
  max-width: 100%;
  height: 40px;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(39, 39, 39, 0.75);
  border: 2px solid #ffd366;
  border-radius: 15px;
  font-size: 20px;
  color: #ffffff;
}
.input-area .space {
  height: 2rem;
}

/** 結果區樣式 **/
.output-area .btn-calc {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: #ffd366;
  font-size: 24px;
  color: #424242;
  position: absolute;
}
.btn-calc:hover {
  box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
}
.btn-calc:active {
  background: #dea921;
}
.output-area .show-result {
  position: relative;
  color: #86d73e;
}
.show-result .result-circle {
  width: 120px;
  height: 120px;
  border: 6px solid #86d73e;
  border-radius: 60px;
  box-shadow: 0 1px 6px 3px #86d73e inset;
}
.show-result .result-circle .number {
  font-size: 32px;
  position: relative;
}
.show-result .result-circle .unit {
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.show-result .result-text {
  margin-left: 18px;
  font-size: 32px;
}
.show-result .btn-recalc {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: url("../img/icons_loop.png") no-repeat center center;
  background-color: #86d73e;
  border: 2px solid #424242;
  outline-width: 0;
  position: absolute;
  left: 88px;
  bottom: 6px;
}
.show-result .btn-recalc:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 6px 3px #ffffff;
  animation: spin 1.5s infinite;
  transition: ease;
}
/* 讓按鈕旋轉 */
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.show-result .btn-recalc:active {
  border: 2px solid #888888;
  box-shadow: 0 1px 6px 3px #888888;
}
.show-result .btn-save {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: url("../img/save.svg") no-repeat center center;
  background-color: #86d73e;
  border: 2px solid #424242;
  outline-width: 0;
  position: absolute;
  left: 128px;
  bottom: 6px;
}
.show-result .btn-save:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 6px 3px #ffffff;
  animation: spin 1.5s infinite;
  transition: ease;
}
.show-result .btn-save:active {
  border: 2px solid #888888;
  box-shadow: 0 1px 6px 3px #888888;
}

/* 換算結果紀錄區樣式 */
.content {
  width: 100%;
}
.content .title {
  font-size: 24px;
  color: #424242;
  margin-top: 48px;
}
.content .history-list {
  width: 90%;
  max-width: 960px;
  margin-top: 20px;
  margin-bottom: 58px;
}
.history-list .item {
  height: 62px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
}
.history-list .item:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.history-list .item:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
}
.flag {
  width: 0.4375rem;
  height: 100%;
}
.flag-too-light {
  background: #31baf9;
  box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
}
.flag-ideal {
  background: #86d73f;
  box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
}
.flag-too-heavy {
  background: #ff982d;
  box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
}
.flag-obesity {
  background: #ff1200;
  box-shadow: 2px 0 3px 0 rgba(255, 17, 0, 0.29);
}
.history-list .data {
  width: 20%;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding: 1.2rem;
}
.data .small {
  font-size: 0.75rem;
  color: #424242;
  margin-right: 0.4375rem;
}

/* 頁尾樣式 */
.footer {
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background: #ffd366;
}
.footer .icon {
  width: 55px;
  height: 55px;
  background-image: url("../img/BMICLogo.png");
  background-size: contain;
  position: relative;
  left: -55px;
  filter: drop-shadow(55px 0 0 #424242);
}

/* 排版 Class */
.flex-rlc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-rcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-rsbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-csac {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flex-csbc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/** 防止使用者選取到元素內的文字 **/
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/** 用來隱藏按鈕元素的 Class **/
.hide {
  visibility: hidden;
}

/** 清除紀錄的按鈕的樣式 **/
.clearLocalStorage {
  background-color: #ffd466;
  border-radius: 24px;
  border: 1px solid #333029;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 22px;
  margin-top: 1.5rem;
}
.clearLocalStorage:hover {
  background-color: #dea821;
}
.clearLocalStorage:active {
  position: relative;
  top: 1px;
}
